JMSReceiver-HAWKDemo/Schemas/Employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Employee" xmlns:tns="http://www.example.org/Employee" elementFormDefault="qualified">

    <element name="Employee" type="tns:EmployeeType"></element>

    <complexType name="EmployeeType">
    	<sequence>
    		<element name="FirstName" type="string" minOccurs="0"
    			maxOccurs="1">
    		</element>
    		<element name="LastName" type="string" minOccurs="0" maxOccurs="1"></element>
    	</sequence>
    </complexType>
</schema>